<div class="container">
  <%= form_for(service) do |f| %>
    <% if service.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

        <ul>
        <% service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="row">
    <div class="row card-panel grey lighten-5">
      <div class="field input-field col s12 l6">
        <i class="material-icons prefix">account_circle</i>
        <%= f.label :nombre_de_cliente, for: 'service_client_name' %>
        <%= f.text_field :client_name %>
      </div>
      <div class="field input-field col s12 l6">
        <i class="material-icons prefix">contact_mail</i>
        <%= f.label :informacion_de_contacto_cliente, for: 'service_customer_contact_information'%>
        <%= f.text_area :customer_contact_information, class: 'materialize-textarea' %>
      </div>
    </div>

    <div class="row card-panel grey lighten-5">
      <div class="field input-field col s12 l6">
        <i class="material-icons prefix">shopping_cart</i>
        <%= f.label :Servicio, for: 'service_service_type' %>
        <%= f.text_field :service_type %>
      </div>

      <div class="field input-field col s12 l6">
        <i class="material-icons prefix">description</i>
        <%= f.label :descripcion_del_servicio, for: 'service_description' %>
        <%= f.text_area :description, class: 'materialize-textarea' %>
      </div>
    </div>


    <div class="row card-panel grey lighten-5">
      <div class="field input-field col l4">
        <i class="material-icons prefix">attach_money</i>
        <%= f.label :costo, for: 'service_amount' %>
        <%= f.number_field :amount %>
      </div>
      <div class="field input-field col s12 l4">
        <i class="material-icons prefix">date_range</i>
        <%= f.label :fecha_de_ejecucion, for: 'service_execution_date' %>
        <%= f.text_field :execution_date, class: 'datepicker' %>
      </div>
      <div class="field col s12 l4">
        <%= f.label :estado_del_servicio %>
        <p>
          <%= f.radio_button :status, 'Activo', checked: true %>
          <%= f.label :status_active, 'Ejecutandose', for: 'service_status_activo' %> <br>
          <%= f.radio_button :status, 'Cancelado' %>
          <%= f.label :status_cancel, 'Cancelado', for: 'service_status_cancelado' %> <br>
          <%= f.radio_button :status, 'Finalizado' %>
          <%= f.label :status_finish, 'Finalizado', for: 'service_status_finalizado' %> <br>
        </p>
      </div>
    </div>



    <div class="row card-panel grey lighten-5">
      <div class="col s10 field input-field">
        <%= f.label :ganancia_del_negocio %><br>
        <p class="range-field">
          <%= f.range_field :business_gain, min:0, max:60%>
        </p>
      </div>
      <div class="field input-field col s2 percentage-container">
        <h4 class="percentage-text">0</h4>
        %
      </div>
    </div>

    <div class="field input-field hide">
      <%= f.label :conclusiones, for: 'service_conclusions' %>
      <%= f.text_area :conclusions, class: 'materialize-textarea' %>
    </div>

    <div class="actions center">
      <%= f.submit class: "waves-effect waves-light btn grey darken-3" %>
    </div>
  </div>
  <% end %>

</div>
