<div class="container">
  <%= form_for(service) do |f| %>
    <% if service.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

        <ul>
        <% service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="row">
    <div class="row card-panel grey lighten-5">

      <div class="col s6 l12 right-align">
        <!-- Switch -->
        <div class="switch">
          <label>
            Existente
            <%= f.check_box :other_client, id: "anotherClientService"  %>
            <!-- <input id="anotherClientService" type="checkbox"> -->
            <span class="lever"></span>
            Otro cliente
          </label>
        </div>
      </div>

      <div id="fieldExistentClient" class="input-field col s12 l12">
        <i class="material-icons prefix">account_circle</i>
        <%= f.select :client_id, Client.all.collect {|p| [ p.name, p.id ] }, { include_blank: 'Selecciona un cliente...' }, class: "validate" %>
        <%= f.label :client_id, 'Nombre de Cliente' %>
      </div>

      <div id="fieldAnotherClient" class="input-field col s12 l6 hide">
        <i class="material-icons prefix">account_circle</i>
        <%= f.label :client_name, 'Nombre del cliente' %>
        <%= f.text_field :client_name, class: "validate" %>
      </div>
      <div id="fieldContactClient" class="input-field col s12 l6 hide">
        <i class="material-icons prefix">contact_mail</i>
        <%= f.label :customer_contact_information, 'Informacion de contacto' %>
        <%= f.text_area :customer_contact_information, class: 'materialize-textarea' %>
      </div>
    </div>

    <div class="row card-panel grey lighten-5">
      <div class="input-field col s12 l6">
        <i class="material-icons prefix">shopping_cart</i>
        <%= f.label :service_type,'Tipo de servicio' %>
        <%= f.text_field :service_type %>
      </div>

      <div class="input-field col s12 l6">
        <i class="material-icons prefix">description</i>
        <%= f.label :description, 'Descripción de servicio' %>
        <%= f.text_area :description, class: 'materialize-textarea' %>
      </div>
    </div>


    <div class="row card-panel grey lighten-5">
      <div class="input-field col l4">
        <i class="material-icons prefix">attach_money</i>
        <%= f.label :amount, 'Costo' %>
        <%= f.number_field :amount %>
      </div>
      <div class="input-field col s12 l4">
        <i class="material-icons prefix">date_range</i>
        <%= f.label :execution_date, 'Fecha de ejecución' %>
        <%= f.text_field :execution_date, class: 'datepicker' %>
      </div>
      <div class="input-field col s12 l4">
        <i class="material-icons prefix">date_range</i>
        <%= f.label :finish_date, 'Finalizado' %>
        <%= f.text_field :finish_date, class: 'datepicker' %>
      </div>
      <div class="col s12 l4">
        <%= f.label :estado_del_servicio %>
        <p>
          <%= f.radio_button :status, 'Activo', checked: true %>
          <%= f.label :status_active, 'Ejecutandose', for: 'service_status_activo' %> <br>
          <%= f.radio_button :status, 'Cancelado' %>
          <%= f.label :status_cancel, 'Cancelado', for: 'service_status_cancelado' %> <br>
          <%= f.radio_button :status, 'Finalizado' %>
          <%= f.label :status_finish, 'Finalizado', for: 'service_status_finalizado' %> <br>
        </p>
      </div>
    </div>



    <div class="row card-panel grey lighten-5">
      <div class="col s10 field input-field">
        <%= f.label :ganancia_del_negocio %><br>
        <p class="range-field">
          <%= f.range_field :business_gain, min:0, max:100%>
        </p>
      </div>
      <div class="input-field col s2 percentage-container">
        <h4 class="percentage-text">0</h4>
        %
      </div>
    </div>

    <div class="input-field hide">
      <%= f.label :conclusions, 'Conclusiones del servicio' %>
      <%= f.text_area :conclusions, class: 'materialize-textarea' %>
    </div>

    <div class="actions center">
      <%= f.submit class: "waves-effect waves-light btn grey darken-3" %>
    </div>
  </div>
  <% end %>

</div>
