<div class="container">

  <div class="row">
    <div class="col m12">
      <h2>
        <strong> <%= @service.service_type %> </strong>
        <small> <%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_service_path(@service), class: "btn" %> </small>
      </h2>
    </div>

    <div class="col m12">
      <h3>
        <%= @service.client_name %>
      </h3>
    </div>

    <div class="col m12">
      <p>
        <strong>Cliente Info.:</strong>
        <%= @service.customer_contact_information %>
      </p>
    </div>

    <div class="col m6">
      <p>
        <strong>Fecha de Ejecución:</strong>
        <%= @service.execution_date %>
      </p>
    </div>

    <div class="col m6">
      <p>
        <strong>Fecha de Finalización:</strong>
        <%= @service.finish_date %>
      </p>
    </div>

    <div class="col m4 center-align">
      <h5 class="no-margin-bottom"> <strong>$ <%= @service.amount %></strong> </h5>
      <strong>Costo<d/strong>
    </div>

    <div class="col m4 center-align">
      <h5 class="no-margin-bottom">
        <strong>
          <%= @service.business_gain %> %
        </strong>
      </h5>
      <strong>Ganancia del Negocio</strong>
    </div>

    <div class="col m4 center-align">
      <h5 class="no-margin-bottom">
        <strong>
          $ <%= (( @service.business_gain.to_f / 100 ) * @service.amount) - @service.service_charges.sum(:amount) %>0
        </strong>
      </h5>
        <strong>Ganancia Total</strong>

      </p>
    </div>


  </div>


  <p>
    <strong>Descripción:</strong>
    <%= @service.description %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= @service.status %>
  </p>

  <p>
    <strong>Conclusiones:</strong>
    <%= @service.conclusions %>
  </p>

  <div class="row card-panel grey lighten-5">
    <div class="col s12">
      <% @service.service_charges.each do |service_charge|%>
      <p>
        <strong>
          $ <%= service_charge.amount %>0
        </strong>
        <%= service_charge.description %>
      </p>
      <% end %>
      <hr>
      <h5>$ <%= @service.service_charges.sum(:amount) %>0 <small> en Total</small></h5>
    </div>
    <%= link_to '<i class="large material-icons">note_add</i> Agregar Gasto'.html_safe, new_service_service_charge_path(@service), class: "btn" %>
  </div>

  <%= link_to 'Edit', edit_service_path(@service) %> |
  <%= link_to 'Back', services_path %>

</div>
