<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col m12">
      <h2>
        <strong>
          <%= @service.service_type %>
        </strong>
      </h2>
    </div>

    <div class="col m12">
      <h3>
        <%= @service.client_name %>
      </h3>
    </div>

    <div class="col m6">
      <p>
        <strong>Cliente Info.:</strong>
        <%= @service.customer_contact_information %>
      </p>
    </div>
  </div>


  <p>
    <strong>Descripción:</strong>
    <%= @service.description %>
  </p>

  <p>
    <strong>Costo:</strong>
    $ <%= @service.amount %>
  </p>

  <p>
    <strong>Fecha de Ejecución:</strong>
    <%= @service.execution_date %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= @service.status %>
  </p>

  <p>
    <strong>Ganancia del Negocio:</strong>
    <%= @service.business_gain %>
  </p>

  <p>
    <strong>Conclusiones:</strong>
    <%= @service.conclusions %>
  </p>

  <div class="row card-panel grey lighten-5">
    <div class="column">
      <% @service.service_charges.each do |service_charge|%>
      <p> <%= service_charge.amount %></p>
      <p> <%= service_charge.description %></p>
      <% end %>
    </div>
    <%= link_to '<i class="large material-icons">note_add</i> Agregar Gasto'.html_safe, new_service_service_charge_path(@service), class: "btn" %>
  </div>

  <%= link_to 'Edit', edit_service_path(@service) %> |
  <%= link_to 'Back', services_path %>

</div>
