<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col s1 m1"></div>
    <div class="center-align col s10 m10 light-blue-text text-darken-4"><h3>Usuarios del sistema</h3></div>
    <div class="col s1 m1 center-align"><a href= "<%= new_user_path %>" class="btn-floating btn-large waves-effect waves-light orange lighten-5"> <i class="material-icons grey-text text-darken-4">add</i></a></div>
  </div>
  <br>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Estado</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <a href="<%= user_path user %>" class="bold"><h5 class="bold no-margin"><%= user.name %></h5></a>
          </td>
          <td><%= user.email %></td>
          <td><%= user.state %></td>
          <td>
            <%= link_to '<i class="small material-icons orange-text text-lighten-4">edit_mode</i>'.html_safe, edit_user_path(user) %>
          </td>
          <td>
            <%= link_to '<i class="small material-icons orange-text text-lighten-4">delete_forever</i>'.html_safe, user, method: :delete, data: { confirm: 'Esta seguro de querer eliminar?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <br>

</div>
