<div class="container">

  <%= form_for [@project, @project_payment] do |f| %>
    <% if project_project_payment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(project_project_payment.errors.count, "error") %> prohibited this project_payment from being saved:</h2>

        <ul>
        <% project_project_payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<div class="row">
  <div class="field input-field col s6">
      <i class="material-icons prefix">vpn_key</i>
    <%= f.label :ID_proyecto %>
    <%= f.text_field :project_id %>
  </div>
  <div class="field input-field col s6">
    <i class="material-icons prefix">payment</i>
    <%= f.label :Cantidad_abono %>
    <%= f.text_field :payment %>
  </div>

</div>
<div class="row">
  <div class="field input-field col s9">
    <i class="material-icons prefix">description</i>
    <%= f.label :Descripcion %>
    <%= f.text_field :description %>
  </div>
</div>


<br>
    <div class="actions waves-effect waves-light btn grey darken-3">
      <%= f.submit %>
    </div>
  <% end %>

</div>
