<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @project_payment.project %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @project_payment.payment %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project_payment.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @project_payment.user %>
</p>

<%= link_to 'Edit', edit_project_payment_path(@project_payment) %> |
<%= link_to 'Back', project_payments_path %>
