<div class="container">
  <%= form_for(client) do |f| %>
    <% if client.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

        <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="field input-field col s10 m6 l5">
        <i class="material-icons prefix">mode_edit</i>
        <%= f.label :Nombre %>
        <%= f.text_field :name %>
      </div>

      <div class="field input-field col s12 m6 l6">
        <i class="material-icons prefix">account_circle</i>
        <%= f.label :Nombre_de_contacto %>
        <%= f.text_field :contact_name %>
      </div>
    </div>

    <div class="row">
      <div class="field input-field col s8 m5 l4">
        <i class="material-icons prefix">call</i>
        <%= f.label :Telefono %>
        <%= f.number_field :phone %>
      </div>

      <div class="field input-field col s12 m6 l6">
        <i class="material-icons prefix">email</i>
        <%= f.label :Correo_electronico %>
        <%= f.text_field :email %>
      </div>
    </div>
    <div class="row">
      <div class="field input-field col s12 m12 l12">
        <i class="material-icons prefix">
location_on</i>
        <%= f.label :Direccion %>
        <%= f.text_field :address %>
      </div>
    </div>





    <div class="actions waves-effect waves-light btn grey darken-3">
      <%= f.submit %>
    </div>
  <% end %>

</div>
