<div class="container">
  <p id="notice"><%= notice %></p>

  <h2 class="center-align">Clientes</h2>
<br>
  <table class="highlight bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Contact name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.contact_name %></td>
          <td><%= client.phone %></td>
          <td><%= client.email %></td>
          <td><%= client.address %></td>
          <td><a class="waves-effect waves-light btn"<%= link_to 'Mostrar', client %></a>
            </td>
          <td><a class="waves-effect waves-light btn"<%= link_to 'Editar', edit_client_path(client) %></a>
            </td>
          <td><a class="waves-effect waves-light btn"<%= link_to 'Eliminar', client, method: :delete, data: { confirm: 'Estas seguro de Eliminar?' } %></a>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <a class="waves-effect waves-light btn"<%= link_to 'Nuevo Cliente', new_client_path %></a>

</div>
