<div class="container">
<br>
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row">
        <div class="col s12">
          <p style="margin: 0" class="right-align"><%= link_to 'Editar', edit_client_path(@client) %></p>

          <h1 style="margin-top: 0; margin-bottom: .2em" class="center-align">
            <%= @client.name %>
          </h1>
          <p class="center-align blue-grey-text">Dirección: <%= @client.address %></p>
          <div class="divider"></div>
        </div>

        <div class="col s8">
          <div id="map" style="height: 20em; margin-top: 1em"></div>
        </div>
        <div class="col s4">
          <div class="section">
            <h4>Contacto</h4>
            <p><%= @client.contact_name %></p>
            <p><%= @client.phone %></p>
            <p><%= @client.email %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <a class="waves-effect waves-light btn grey darken-1"<%= link_to 'Regresar', clients_path %></a>
</div>


<script>
  function initMap() {
    <% if @client.latitude and @client.longitude %>
      var uluru = {lat: <%= @client.latitude %>, lng: <%= @client.longitude %>}
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 18,
      center: uluru
    });
    <% else %>
      var uluru = {lat: -25.363, lng: 131.044};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: uluru
      });
    <% end %>
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR57huOHud4jtKwYKCNBUVSkJwweDHVn0&callback=initMap">
</script>
