<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nombre:</strong>
    <%= @client.name %>
  </p>

  <p>
    <strong>Nombre del contacto:</strong>
    <%= @client.contact_name %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= @client.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @client.email %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= @client.address %>
  </p>

  <a class="waves-effect waves-light btn"<%= link_to 'Edit', edit_client_path(@client) %> </a>
  <a class="waves-effect waves-light btn"<%= link_to 'Back', clients_path %></a>



</div>
