<div class="container show-project-container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col s12">
      <div class="divider"></div>
     <div class="section">
       <h3 class="center-align light-blue-text text-darken-4">Estado Financiero</h3>
       <p class="center-align pharagraph-reduced">
         informacion exclusiva para
         <a href="">
           <strong class="bold">Azzlo!</strong>
         </a>
         inició
         <strong class="bold"> enero de 2017</strong>
       </p>
     </div>
    </div>
  </div>

  <div class="row">
    <div class="col s4">
       <div class="divider"></div>
       <div class="section">
         <h4 class="center-align">$<%= @total %></h4>
           <p class="pharagraph-reduced center-align">
             Monto total azzlo
           </p>

       </div>
    </div>
    <div class="col s4">
      <div class="divider"></div>
      <div class="section">
        <h4 class="center-align">$<%= @total_incomes %></h4>
        <p class="pharagraph-reduced center-align">
          Ingresos totales
        </p>
      </div>
    </div>
    <div class="col s4">
      <div class="divider"></div>
      <div class="section">
        <h4 class="center-align">$<%= @total_expences %></h4>
        <p  class="pharagraph-reduced center-align">Egresos totales</p>
      </div>
    </div>
  </div>


  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">assessment</i>
        Hay <span class="money">$</span> y faltan <span class="money"> por cobrar </span>
      </div>
      <div class="collapsible-body center-align">
        <table class="highlight bordered">
          <thead>
            <tr>
              <th>Cantidad</th>
              <th>Descripción</th>

            </tr>
          </thead>

          <tbody>
            <% @financial_incomes.each do |income| %>
            <tr>
              <td><strong>$ <%= income.amount %></strong></td>
              <td><%=  %></td>

            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </li>
  </ul>
<br>
<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">assessment</i>
      Detalle de los ultimos egresos
    </div>
    <div class="collapsible-body center-align">
      <table class="highlight bordered">
        <thead>
          <tr>
            <th>Cantidad</th>
            <th>Descripción</th>

          </tr>
        </thead>

        <tbody>
          <% @financial_expences.each do |expense| %>
          <tr>
            <td><strong>$ <%= expense.amount %></strong></td>
            <td><%= expense.description %></td>

          </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to "Nuevo gasto", new_financial_expense_path, class: "add-btn waves-effect waves-light btn" %>
    </div>

  </li>
</ul>
<br>


</div>
