<div class="container show-project-container">
  <div class="row">
    <div class="col s12">
      <div class="divider"></div>
     <div class="section">
       <h2 class="center-align light-blue-text text-darken-4">Estado Financiero</h2>
     </div>
    </div>
  </div>

  <div class="row">
    <div class="col s4">
       <div class="section">
         <h4 class="center-align">$<%= @total %></h4>
           <p class="pharagraph-reduced center-align">
             Monto total azzlo
           </p>
       </div>
       <div class="divider"></div>
    </div>
    <div class="col s4">
      <div class="section">
        <h4 class="center-align">$<%= @total_incomes %></h4>
        <p class="pharagraph-reduced center-align">
          Ingresos totales
        </p>
      </div>
      <div class="divider"></div>
    </div>
    <div class="col s4">
      <div class="section">
        <h4 class="center-align">$<%= @total_expences %></h4>
        <p  class="pharagraph-reduced center-align">Egresos totales</p>
      </div>
      <div class="divider"></div>
    </div>
  </div>


  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">assessment</i>
        Hay <span class="money">$</span> y faltan <span class="money"> por cobrar </span>
      </div>
      <div class="collapsible-body center-align">
        <table class="highlight bordered">
          <thead>
            <tr>
              <th>Cantidad</th>
              <th>Descripción</th>

            </tr>
          </thead>

          <tbody>
            <% @financial_incomes.each do |income| %>
            <tr>
              <td><strong>$ <%= income.amount %></strong></td>
              <td><%=  %></td>

            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </li>
  </ul>
<br>
<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">assessment</i>
      Detalle de los ultimos egresos
    </div>
    <div class="collapsible-body center-align" style="padding-bottom: 1em">
      <table class="highlight">
        <thead>
          <tr>
            <th width="100">Cantidad</th>
            <th width="50" class="center-align">Tipo</th>
            <th>Descripción <%= link_to 'Ver todos', financial_expenses_url, class: 'right btn blue-grey lighten-2' %></th>
          </tr>
        </thead>

        <tbody>
          <% @financial_expences.each do |expense| %>
          <tr>
            <td class="right-align"><strong>$ <%= number_with_precision(expense.amount, :precision => 0) || 0 %></strong></td>
            <td>
              <% if expense.debt %>
                <div class="chip purple darken-1">
                  <span class="white-text">Deuda</span>
                </div>
              <% end %>
            </td>
            <td><%= expense.description %></td>

          </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to "<i class='material-icons left'>library_add</i> Agregar gasto".html_safe, new_financial_expense_path, class: "waves-effect waves-light btn light-blue accent-4" %>
    </div>

  </li>
</ul>
<br>


</div>
