<div class="container">
<br>
<div class="row">
  <div class="col l6">
    <h3 class="center-align light-blue-text text-darken-4">Proyectos</h3>
    <% @running_projects.each do |project| %>
    <a href="<%= project_path(project) %>">
        <div class="inicialinfo card-panel hoverable grey lighten-5 z-depth-3 brown-text text-darken-2">
          <div class="row">
            <div class="col s12">
              <h5 class="brown-text text-lighten-2 bold"><%= project.name %></h5>
            </div>
          </div>
          <div class="row">
            <div class="col s4 center-align ">
              <%= project.client.name %>
            </div>
            <div class="col s4 center-align">
              <%= project.final_date %>
            </div>
            <div class="col s4 center-align">
              <strong>
                $<%= project.project_payments.sum(:payment) %> el <%= (project.project_payments.sum(:payment) * 100 / project.total_cost).round 2 %>%
              </strong>
            </div>
          </div>
        </div>
    </a>
    <% end %>
  </div>
  <div class="col l6">
    <h3 class="center-align light-blue-text text-darken-4">Servicios</h3>
    <div class="card-panel hoverable grey lighten-5 z-depth-3 brown-text text-darken-2">
      <% @services.each do |service| %>
        <div class="row">
          <div class="col s12">
            <h5 class="bold"><%= service.service_type %></h5>
          </div>
          <div class="col l12">
            <div class="row">
              <div class="col l4">
                <%= service.client_name %>
              </div>
              <div class="col l4">
                <%= service.execution_date %>
              </div>
              <div class="col l4">
                $ <%= service.amount %>.00
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br>
<br>
<div class="row">
<div class="col s12 m6">
 <table class="striped">
  <thead class="light-blue-text text-darken-4">
    <tr>
        <th data-field="id">Proyecto</th>
        <th data-field="price">Cantidad</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>En Ejecución</td>
      <td class="brown-text text-lighten-2"><%= @running_projects.count %></td>
    </tr>
    <tr>
      <td>Pausados</td>
      <td class="brown-text text-lighten-2"><%= @paused_projects.count %></td>
    </tr>
    <tr>
      <td>Detenidos</td>
      <td class="brown-text text-lighten-2"><%= @stoped_projects.count %></td>
    </tr>
    <tr>
      <td>Finalizados</td>
      <td class="brown-text text-lighten-2"><%= @completed_projects.count %></td>
    </tr>
    <tr>
      <td>Todos</td>
      <td class="brown-text text-lighten-2"><%= Project.count %></td>
    </tr>
  </tbody>
</table>
</div>
<div class="col s12 m6">
 <table class="striped">
  <thead class="light-blue-text text-darken-4">
    <tr>
        <th data-field="id">Concepto</th>
        <th data-field="price">Total</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Cobrado de Proyectos Finalizados</td>
      <% finished_payment = 0 %>
      <% @completed_projects.each do |project| %>
        <% finished_payment =+ project.project_payments.sum(:payment)  %>
      <% end %>
      <td>$ <%= finished_payment %></td>
    </tr>
    <tr>
      <td>Cobrado de Proyectos en ejecucion y pausados</td>
      <% running_payment = 0 %>
      <% @running_projects.each do |project| %>
        <% running_payment =+ project.project_payments.sum(:payment)  %>
      <% end %>
      <% paused_payment = 0 %>
      <% @paused_projects.each do |project| %>
        <% paused_projects =+ project.project_payments.sum(:payment)  %>
      <% end %>
      <td>$ <%= running_payment + paused_payment %></td>
    </tr>
    <tr>
      <td>Total de Proyectos en ejecucion y pausados</td>
      <td>$ <%= @running_projects.sum(:total_cost) + @paused_projects.sum(:total_cost) %></td>
    </tr>
    <tr>
      <td>Proyectos Detenidos</td>
      <td>$ <%= @stoped_projects.sum(:total_cost) %></td>
    </tr>
  </tbody>
</table>
</div>

</div>


  </div>
