
<div class="container">
<br>
<br>
<h4><%= @running_projects.count %> Proyectos en Produccion</h4>
<% @running_projects.each do |project| %>
  <a href="<%= project_path(project) %>">
    <div class="col s12 m12 offset-m2 l12 offset-l3">
      <div class="card-panel hoverable grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <p><%= project.name %></p>
          <p class="right"><%= project.client.name %></p>
          <p><%= project.final_date %></p>
          <p>$<%= project.project_payments.sum(:payment) %> el <%= (project.project_payments.sum(:payment) * 100 / project.total_cost).round 2 %>%</p>

        </div>
      </div>
    </div>
  </a>
<% end %>

<br>

<div class="row">
<div class="col s12 m6">
 <table class="striped">
  <thead>
    <tr>
        <th data-field="id">Proyecto</th>
        <th data-field="price">Cantidad</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>En Ejecución</td>
      <td><%= @running_projects.count %></td>
    </tr>
    <tr>
      <td>Pausados</td>
      <td><%= @paused_projects.count %></td>
    </tr>
    <tr>
      <td>Detenidos</td>
      <td><%= @stoped_projects.count %></td>
    </tr>
    <tr>
      <td>Finalizados</td>
      <td><%= @completed_projects.count %></td>
    </tr>
    <tr>
      <td>Todos</td>
      <td><%= Project.count %></td>
    </tr>
  </tbody>
</table>
</div>
<div class="col s12 m6">
 <table class="striped">
  <thead>
    <tr>
        <th data-field="id">Concepto</th>
        <th data-field="price">Total</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Cobrado de Proyectos Finalizados</td>
      <% finished_payment = 0 %>
      <% @completed_projects.each do |project| %>
        <% finished_payment =+ project.project_payments.sum(:payment)  %>
      <% end %>
      <td>$ <%= finished_payment %></td>
    </tr>
    <tr>
      <td>Cobrado de Proyectos en ejecucion y pausados</td>
      <% running_payment = 0 %>
      <% @running_projects.each do |project| %>
        <% running_payment =+ project.project_payments.sum(:payment)  %>
      <% end %>
      <% paused_payment = 0 %>
      <% @paused_projects.each do |project| %>
        <% paused_projects =+ project.project_payments.sum(:payment)  %>
      <% end %>
      <td>$ <%= running_payment + paused_payment %></td>
    </tr>
    <tr>
      <td>Total de Proyectos en ejecucion y pausados</td>
      <td>$ <%= @running_projects.sum(:total_cost) + @paused_projects.sum(:total_cost) %></td>
    </tr>
    <tr>
      <td>Proyectos Detenidos</td>
      <td>$ <%= @stoped_projects.sum(:total_cost) %></td>
    </tr>
  </tbody>
</table>
</div>

</div>


  </div>
