<div class="container">

  <%= form_for(project) do |f| %>
    <% if project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field input-field col s6">
      <%= f.select :client_id , Client.all.collect {|p| [ p.name, p.id ] }, {}, {class: ''} %>
      <%= f.label :client_id %>
    </div>

    <div class="field input-field col s6">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field input-field col s6">
      <%= f.label :description %>
      <%= f.text_area :description , class: "materialize-textarea" %>
    </div>

    <div class="field input-field col s6">
      <%= f.label :initial_date %>
      <%= f.date_select :initial_date %>
    </div>

    <div class="field input-field col s6">
      <%= f.label :final_date %>
      <%= f.date_select :final_date %>
    </div>

    <div class="field input-field col s6">
      <%= f.label :total_cost %>
      <%= f.text_field :total_cost %>
    </div>

    <div class="field input-field col s6">
      <%= f.select :project_status_id , ProjectStatus.all.collect {|p| [ p.name, p.id ] }, {}, {class: ''} %>
      <%= f.label :project_status_id %>
    </div>

    <div class="actions waves-effect waves-light btn lime darken-3">
      <%= f.submit %>
    </div>
  <% end %>


</div>
