<div class="container">

  <%= form_for(project) do |f| %>
    <% if project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="field input-field col s10 m6 l5">
         <i class="large material-icons prefix">assignment_ind</i>
        <%= f.select :client_id , Client.all.collect {|p| [ p.name, p.id ] }, {}, {class: ''} %>
        <%= f.label :Cliente %>
      </div>
      <div class="input-field col s10 m6 5">
        <i class="large material-icons prefix">title</i>
        <%= f.label "Nombre del proyecto" %>
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row">
      <div class="field input-field col s12 m11 l10">
        <i class="large material-icons prefix">list</i>
        <%= f.label :Descripcion %>
        <%= f.text_area :description , class: "materialize-textarea" %>
      </div>
    </div>
    <div class="row">
      <div class="field input-field col s8 m6 l4">
        <br>
        <br>
        <i class="large material-icons prefix">today</i>
        <%= f.date_field :initial_date,class:"datepicker" %>
        <%= f.label :Fecha_de_inicio %>
      </div>
      <div class="field input-field col s8 m6 l4">
        <br>
        <br>
        <i class="large material-icons prefix">today</i>
        <%= f.label :Fecha_de_entrega %>
        <%= f.date_field :final_date, class:"datepicker" %>
      </div>
      <div class="field input-field col s8 m6 l4">
        <br>
        <br>
        <i class="large material-icons prefix">attach_money</i>
        <%= f.label :Costo_total %>
        <%= f.text_field :total_cost %>
      </div>
    </div>

    <div class="field input-field col s6">
      <p class="range-field">
        <%= f.range_field :percentage, min: 0, max: 100 %>
      </p>
    </div>

    <div class="field input-field col s6">
      <i class="large material-icons prefix">warning</i>
      <%= f.select :project_status_id , ProjectStatus.all.collect {|p| [ p.name, p.id ] }, {}, {class: ''} %>
      <%= f.label :Estatus_del_proyecto %>
    </div>
    <br>
    <div class="actions waves-effect waves-light btn grey darken-3">
      <%= f.submit %>
    </div>
    <% end %>
</div>
