<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col s6 m4"></div>
    <div class="col s6 m5"><h2>Proyeto</h2></div>
    <div class="col s6 m3 center-align"><a href= "<%= new_project_path %>" class="btn-floating btn-large waves-effect waves-light red"> <i class="material-icons">add</i></a></div>
  </div>


  <table>
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Nombre</th>
        <th>Descripciòn</th>
        <th>Fecha de inicio</th>
        <th>Fecha de entrega</th>
        <th>Costo total</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
      
        <tr>
          <td><%= Client.find(project.client).name %></td>
          <td><%= project.name %></td>
          <td><%= project.description %></td>
          <td><%= project.initial_date %></td>
          <td><%= project.final_date %></td>
          <td><%= project.total_cost %></td>
          <td><%= ProjectStatus.find(project.project_status_id).name %></td>
          <td> </td>
          <td> </td>
          <td>
            <a class="waves-effect waves-light btn"<%= link_to 'Eliminar', project, method: :delete, data: { confirm: 'Esta seguro de querer eliminar?' } %></a></td>
        </tr>


      <% end %>
    </tbody>
  </table>

  <br>



</div>
