<div class="container">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Client:</strong>
    <%= Client.find(@project.client).name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @project.description %>
  </p>

  <p>
    <strong>Initial date:</strong>
    <%= @project.initial_date %>
  </p>

  <p>
    <strong>Final date:</strong>
    <%= @project.final_date %>
  </p>

  <p>
    <strong>Total cost:</strong>
    <%= @project.total_cost %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ProjectStatus.find(@project.project_status_id).name %>
  </p>

  <p>
    <strong>Contributors:</strong>
    <%= Contributor.first.name %>
    <br>
    <%= link_to %>
  </p>

  <%= link_to 'Editar', edit_project_path(@project) %> |
  <%= link_to 'Regresar', projects_path %>

</div>
