<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col s12">
      <div class="divider"></div>
     <div class="section">
       <h5 class="center-align"><%= @project.name %></h5>
       <p class="center-align">
         <%= Client.find(@project.client).name %>
       </p>
       <p class="center-align">
         <%= @project.initial_date %>
       </p>
     </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
       <div class="divider"></div>
       <div class="section">
         <h5>Descripcion</h5>
         <p>
           <%= @project.description %>
         </p>
       </div>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
       <div class="divider"></div>
       <div class="section">
         <h5>Fecha de entrega</h5>
           <p>
             <%= @project.final_date %>
           </p>

       </div>
    </div>
    <div class="col s4">
      <div class="divider"></div>
      <div class="section">
        <h5>Costo total</h5>
        <p>
          <%= @project.total_cost %>
        </p>
      </div>
    </div>

    <div class="col s4">
      <div class="divider"></div>
      <div class="section">
        <h5>Status</h5>
        <p>

          <%= ProjectStatus.find(@project.project_status_id).name %>
        </p>
      </div>
    </div>
  </div>
  <table class="highlight bordered">
    <thead>
      <tr>
        <th>Cantidad</th>
        <th>Descripción</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @project.project_payments.each do |payment| %>
        <tr>
          <td><strong>$ <%= payment.payment %></strong></td>
          <td><%= payment.description %></td>
          <td><%= link_to 'Destroy', project_project_payment_path(@project, payment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Agregar Abono", new_project_project_payment_path(@project), class: "waves-effect waves-light btn" %>

  <a class="waves-effect waves-light btn"<%= link_to 'Editar', edit_project_path(@project) %></a>
  <a class="waves-effect waves-light btn"<%= link_to 'Regresar', projects_path %></a>

</div>
