<div class="container show-project-container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col s12">
      <div class="divider"></div>
     <div class="section">
       <h1 class="center-align"><%= @project.name %></h1>
       <p class="center-align pharagraph-reduced">
         Para
         <a href="<%= client_path Client.find(@project.client_id) %>">
           <strong class="bold"><%= Client.find(@project.client).name %></strong>
         </a>
         inició
         <strong class="bold"><%= @project.initial_date %></strong>
       </p>
     </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
       <div class="divider"></div>
       <div class="section">
         <p>
           <strong class="bold">Descripción:</strong>
           <%= @project.description %>
         </p>
       </div>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
       <div class="divider"></div>
       <div class="section">
         <h4 class="center-align"><%= @project.final_date %></h4>
           <p class="pharagraph-reduced center-align">
             Fecha de entrega
           </p>

       </div>
    </div>
    <div class="col s4">
      <div class="divider"></div>
      <div class="section">
        <h4 class="center-align">$ <%= @project.total_cost %></h4>
        <p class="pharagraph-reduced center-align">
          Costo total
        </p>
      </div>
    </div>
    <div class="col s4">
      <div class="divider"></div>
      <div class="section">
        <h4 class="center-align"><%= ProjectStatus.find(@project.project_status_id).name %></h4>
        <p  class="pharagraph-reduced center-align">Status</p>
      </div>
    </div>
  </div>
  <br>
  <table class="highlight bordered">
    <thead>
      <tr>
        <th>Cantidad</th>
        <th>Descripción</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @project.project_payments.each do |payment| %>
        <tr>
          <td><strong>$ <%= payment.payment %></strong></td>
          <td><%= payment.description %></td>
          <td><%= link_to 'Destroy', project_project_payment_path(@project, payment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <br>
  <%= link_to "Agregar Abono", new_project_project_payment_path(@project), class: "waves-effect waves-light btn" %>

  <a class="waves-effect waves-light btn"<%= link_to 'Editar', edit_project_path(@project) %></a>
  <a class="waves-effect waves-light btn"<%= link_to 'Regresar', projects_path %></a>

</div>
