<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>Company Details</h1>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @company_detail.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @company_detail.address %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= @company_detail.logo %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @company_detail.phone %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @company_detail.description %>
  </p>

  <%= link_to 'Edit', edit_company_detail_path(@company_detail), class: "btn-large center" %>
</div>
