<div class="container">
  <%= form_for(financial_expense) do |f| %>
    <% if financial_expense.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(financial_expense.errors.count, "error") %> prohibited this financial_expense from being saved:</h2>

        <ul>
        <% financial_expense.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row card-panel grey lighten-5">
      <div class="col s12 l6 offset-l3">
        <div class="row">
          <div class="col s12 l12 right-align">
            <!-- Switch -->
            <div class="switch">
              <label>
                Gasto
                <%= f.check_box :debt %>
                <!-- <input id="anotherClientService" type="checkbox"> -->
                <span class="lever"></span>
                <span class="red-text">Deuda</span>
              </label>
              <br>
            </div>
          </div>

          <div class="field input-field col s12 l12">
            <i class="material-icons prefix">attach_money</i>
            <%= f.label :amount, 'Monto' %>
            <%= f.number_field :amount, class: 'bold large-text center-align' %>
          </div>
          <div class="field input-field col s12 l12">
            <i class="material-icons prefix">description</i>
            <%= f.label :description, 'Descripción' %>
            <%= f.text_area :description, class: 'materialize-textarea' %>
          </div>
        </div>

        <div class="col l12 center-align">
          <div class="actions waves-effect waves-light btn grey darken-3">
            <%= f.submit 'Crear Gasto' if current_page?(action: 'new')%>
            <%= f.submit 'Actualizar Gasto' if action_name == 'edit'%>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
