<div class="container">
  <%= form_for(financial_expense) do |f| %>
    <% if financial_expense.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(financial_expense.errors.count, "error") %> prohibited this financial_expense from being saved:</h2>

        <ul>
        <% financial_expense.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row card-panel grey lighten-5">
      <div class="field input-field col s12 l6">
        <i class="material-icons prefix">account_circle</i>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
      <div class="field input-field col s12 l6">
        <i class="material-icons prefix">contact_mail</i>
        <%= f.label :amount %>
        <%= f.number_field :amount %>
      </div>

    </div>

    <div class="actions waves-effect waves-light btn grey darken-3">
      <%= f.submit %>
    </div>
  <% end %>

</div>
