<div class="container">
  <h3 class="center-align light-blue-text text-darken-4">Egresos/Gastos de la empresa</h3>

  <table>
    <thead>
      <tr>
        <th width="100" class="center-align">Amount</th>
        <th class="center-align">Description</th>
        <th width="10" colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @financial_expenses.each do |financial_expense| %>
      <tr>
        <td class="right-align">
          <%= link_to "$ #{number_with_precision(financial_expense.amount, :precision => 2) || 0}", financial_expense %></td>
        <td><%= financial_expense.description %></td>
        <td><%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_financial_expense_path(financial_expense) %></td>
        <td><%= link_to '<i class="material-icons">delete_forever</i>'.html_safe, financial_expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Financial Expense', new_financial_expense_path %>
</div>
