<%= form_for(project_contributor) do |f| %>
  <% if project_contributor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_contributor.errors.count, "error") %> prohibited this project_contributor from being saved:</h2>

      <ul>
      <% project_contributor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field input-field col s6">
    <%= f.label :project_id %>
    <%= f.text_field :project_id %>
  </div>

  <div class="field input-field col s6">
    <%= f.label :contributor_id %>
    <%= f.text_field :contributor_id %>
  </div>

  <div class="field input-field col s6">
    <%= f.label :percentage %>
    <%= f.text_field :percentage %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
