<%= form_for([@project, @project_contributor]) do |f| %>
  <% if project_project_contributor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_project_contributor.errors.count, "error") %> prohibited this project_contributor from being saved:</h2>

      <ul>
      <% project_project_contributor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <br>
<div class="row">
  <div class="field input-field col s12 m10 l8">
    <%= f.select :contributor_id , Contributor.all.collect {|p| [ p.name, p.id ] }, {}, {class: ''} %>
    <%= f.label :Colaborador %>
  </div>
</div>

<div class="row">
  <div class="field input-field col s12 m12 l10">
    <br>
    <%= f.label :Porcentaje %>
    <p class="range-field">
    <%= f.range_field :percentage, min: 0, max: @rest_percentage.to_f %>
    </p>
  </div>
</div>

<br>
<a class="waves-effect waves-light btn grey darken-3"><%= f.submit %></a>

<% end %>
