<p id="notice"><%= notice %></p>

<h1>Project Contributors</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Contributor</th>
      <th>Percentage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_contributors.each do |project_contributor| %>
      <tr>
        <td><%= project_contributor.project %></td>
        <td><%= project_contributor.contributor %></td>
        <td><%= project_contributor.percentage %></td>
        <td><%= link_to 'Show', project_contributor %></td>
        <td><%= link_to 'Edit', edit_project_contributor_path(project_contributor) %></td>
        <td><%= link_to 'Destroy', project_contributor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Contributor', new_project_contributor_path %>
