<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>Colaboradores</h1>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Skills</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @contributors.each do |contributor| %>
        <tr>
          <td><%= contributor.name %></td>
          <td><%= contributor.email %></td>
          <td><%= contributor.phone %></td>
          <td><%= contributor.skills %></td>
          <td><%= link_to 'Mostrar', contributor %></td>
          <td><%= link_to 'Editar', edit_contributor_path(contributor) %></td>
          <td><%= link_to 'Eliminar', contributor, method: :delete, data: { confirm: 'Estas seguro que deseas eliminar?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo colaborador', new_contributor_path %>

</div>
