<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contributor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contributor.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contributor.phone %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @contributor.skills %>
</p>

<%= link_to 'Edit', edit_contributor_path(@contributor) %> |
<%= link_to 'Back', contributors_path %>
