<div class="container">

  <p id="notice"><%= notice %></p>
<br>
  <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
              <i class="large material-icons amber-text">perm_identity</i>
              </div>
              <div class="col s3">
                <div class="divider"></div>
                <div class="section">
                    <h5 class="center-align"><%= @contributor.name %></h5>
                    <p class="pharagraph-reduced center-align">
                      Nombre
                    </p>
                </div>
              </div>
              <div class="col s4">
                <div class="divider"></div>
                <div class="section">
                    <h5 class="center-align"><%= @contributor.email %></h5>
                    <p class="pharagraph-reduced center-align">
                      Correo
                    </p>
                </div>

              </div>
              <div class="col s3">
                <div class="divider"></div>
                <div class="section">
                    <h5 class="center-align"><%= @contributor.phone %></h5>
                    <p class="pharagraph-reduced center-align">
                      Telefono
                    </p>
                </div>


              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <div class="divider"></div>
                <div class="section">
                    <h5 class="center-align"><%= @contributor.skills %></h5>
                    <p class="pharagraph-reduced center-align">
                      Habilidades
                    </p>
                </div>

              </div>
            </div>
          </div>
        </div>


<br>
<br>



<a class="waves-effect waves-light btn grey darken-3"  <%= link_to 'Editar', edit_contributor_path(@contributor) %></a>

<a class="waves-effect waves-light btn grey darken-3"<%= link_to 'Regresar', contributors_path %></a>


</div>
