<!DOCTYPE html>
<html>
  <head>
    <title>Stanok</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <header>
    <ul id="dropdown1" class="dropdown-content" style="background:#000;">
      <li class="<%= active_if controller: 'users' %>"><%= link_to "Usuarios", users_path %></li>
      <li class="divider"></li>
      <li class="<%= active_if controller: 'clients' %>"> <%= link_to "Clientes", clients_path %></li>
      <li class="divider"></li>
      <li class="<%= active_if controller: 'contributors' %>"><%= link_to "Colaboradores", contributors_path %> </li>
      <li class="divider"></li>
      <li class="<%= active_if controller: 'welcome' %>"> <%= link_to "Finanzas", welcome_financial_state_path %></li>
    </ul>
      <nav>
        <div class="nav-wrapper grey darken-4 valign-wrapper">
          <span href="#!" class="brand-logo center"><i class="bold <%= active_if controller: 'welcome' %>"><%= link_to "AZZLO", root_path %></i></span>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li ><a href="#" class="dropdown-button"  data-activates="dropdown1">Administracion<i class="material-icons right">arrow_drop_down</i></a> </li>
            <li class="<%= active_if controller: 'projects' %>"> <%= link_to "Proyectos", projects_path %></li>
            <li class="<%= active_if controller: 'services' %>"> <%= link_to "Servicios", services_path %></li>
          </ul>
          <ul id="slide-out" class="side-nav">
            <li>
              <div class="userView">
              <img class="background" src="">
            </div>
          </li>
          <li><div class="divider"></div></li>
          <li class="<%= active_if controller: 'welcome' %>"><%= link_to "Inicio", root_path %></li>
          <li class="<%= active_if controller: 'users' %>"><%= link_to "Usuarios", users_path %></li>
          <li class="<%= active_if controller: 'clients' %>"> <%= link_to "Clientes", clients_path %></li>
          <li class="<%= active_if controller: 'contributors' %>"><%= link_to "Colaboradores", contributors_path %> </li>
          <li class="<%= active_if controller: 'projects' %>"> <%= link_to "Proyectos", projects_path %></li>
          <li class="<%= active_if controller: 'services' %>"> <%= link_to "Servicios", services_path %></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </header>

    <% if flash[:notice]  %>
      <div class="flash-message notice chip lime-text text-lighten-2">
        <%= notice %>
        <i class="close material-icons">close</i>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="flash-message alert chip orange-text text-accent-4">
        <%= alert %>
        <i class="close material-icons">close</i>
      </div>
    <% end %>

    <%= yield %>

    <footer class="page-footer light-blue darken-4">
      <% if user_signed_in? %>
        <div class="container">
          <div class="col l12">
            <p class="text-right orange-text text-lighten-4"><%= current_user.email %> - <%= link_to 'salir', destroy_user_session_path, :method => :delete  %></p>
          </div>
        </div>
      <% end %>
      <div class="footer-copyright grey darken-4">
        <div class="container">
        © 2016 Copyright azzlo! Derechos Reservados
        <a class="brown-text text-lighten-2 right" href="#!">azzlo.pro</a>
        </div>
      </div>
    </footer>
  </body>
</html>
